body {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }

.tasks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
.background{
    background-color: #a8d5a2;
    padding: 30px;
    border-radius: 8px;
    max-width: 550px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h3{
    margin: 0 0 15px 0;
}

  input {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 3px 10px;
    font-size: 16px;
    cursor: pointer;
  }

  #square {
    width: 100px;
    height: 100px;
    border: 3px dashed red;
    margin: 0 auto 15px auto;
  }

  ul {
    margin: 20px auto;
    width: 200px;
    text-align: left;
  }
  

  